/* ---begin  section--- */
/* ---end  section--- */

/* ---begin catch-all section--- */
html, body, .table, .panel, .panel-heading, .panel-body, .final, .container-content{
  background-color: transparent;
  font-family: sans-serif;
  line-height: 1.42;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
/* ---end catch-all section--- */
html{
  height: 100%;
}

body{
  background-color: #252839;
  color: #b5b5b7;
  height: 100%;
}
.final{
  height: auto;
}

/* ---begin button section--- */
.close-x-button{
  background: #e74c3c;
  border-bottom: 1px solid #252525;
  border-left: 1px solid #525252;
  border-right: 1px solid #252525;
  border-top: 1px solid #525252;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  outline: none;
  position: absolute;
  right: 4px;
  top: 4px;
}
/* ---end button section--- */

/* ---begin nav section--- */
nav {
  border-bottom: .5px solid #252525;
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0;
  padding: 0;
  position: fixed;
  top: 0px;
  transition: opacity 0.1s;
  transition-delay: 2s;
  transition-timing-function: ease-in;
  width: 100%;
  z-index: 2;
}

nav:hover{
  opacity: 1;
  transition-delay: 0.1s;
}

nav .nav-content{
  opacity: 1;
}

nav .logo{
  background-color: #1a1a1a;
}

nav ul {
  background-color: #333333;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

nav li {
  float: left;
}

nav li:first-child {
  /*border-right: 1px solid #bbb;*/
}

nav li a, nav .dropbtn {
  color: white;
  display: inline-block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

nav li a:hover, nav .dropdown:hover .dropbtn {
  background-color: #252525;
}

nav li.dropdown {
  display: inline-block;
}

nav .dropdown-content {
  background-color: #d9d9d9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  min-width: 160px;
  position: absolute;
}

nav .dropdown-content a {
  color: black;
  display: block;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
}

nav .dropdown-content a:hover {
  background-color: #bdbdbd;
  border-radius: 5px;
}

nav .dropdown:hover .dropdown-content {
  display: block;
}
/* ---end nav section--- */

/* ---begin dasmodal section--- */
.dasmodal label{
    color: #bdbdbd;
    font-weight: 600;
}

.dasmodal-footer button{
    color: #252525;
}

.dasmodal .input-field {
    border-bottom: 1px dotted black;
    color: #252525;
    display: inline-block;
    position: relative;
}

.dasmodal .input-field input{
    background-color: #ffffff;
}

.dasmodal .input-field .helptext {
    background-color: #525252;
    border-radius: 6px;
    color: #bdbdbd;
    left: 125%;
    margin-left:-42px;
    opacity: 0;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    top: -3px;
    transition: opacity 0.5s;
    visibility: hidden;
    width: 18em;
    z-index: 1;
}

.dasmodal .input-field .helptext strong{
    color: #cb181d;
}

.dasmodal .input-field .helptext::after {
    border-color: transparent #525252 transparent transparent;
    border-style: solid;
    border-width: 5px;
    content:'';
    margin-top: -5px;
    position: absolute;
    right: 100%;
    top: 50%;
}

.dasmodal .input-field:hover .helptext {
    opacity: 1;
    visibility: visible;
}
/* ---end dasmodal section--- */

hr{
    border: 0;
    border-top: 1px solid #9d9d9d;
    margin-bottom: 20px;
    margin-top: 20px;
}

svg{
    overflow: visible;
}

svg:not(:root) {
    overflow: visible;
}

.table,
.table .table{
    background-color: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

::-webkit-scrollbar{
    width: 0px;
}
